.wrapper {
  padding: 1.5em;
  margin: 2em 0;
  background-image: linear-gradient(
    178deg,
    transparent 15%,
    var(--champagne-pink) 15%
  );
  color: var(--jet);
  /*  */
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
}
