.wrapper {
  padding: 1.5em;
  position: relative;

  .custom-shape-divider-top-1691831485 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 18px;
      transform: rotateY(180deg);

      .shape-fill {
        fill: var(--champagne-pink);
      }
    }
  }

  text-align: center;
  font-size: xx-large;
  font-weight: 900;
}
