main {
  padding: 4em 1.5em;

  & > * {
    clip-path: inset(0 -100vmax);

    &:nth-child(odd) {
      box-shadow: 0 0 0 100vmax var(--jet);
      color: var(--champagne-pink);
      background-color: var(--jet);

      .section-divider {
        svg {
          .shape-fill {
            fill: var(--champagne-pink);
          }
        }
      }
    }

    &:nth-child(even) {
      box-shadow: 0 0 0 100vmax var(--champagne-pink);
      color: var(--jet);
      background-color: var(--champagne-pink);

      .section-divider {
        svg {
          .shape-fill {
            fill: var(--jet);
          }
        }
      }
    }

    .section-divider {
      position: absolute;
      top: 0;
      left: -1.5em;
      width: calc(3em + 100%);
      overflow: hidden;
      line-height: 0;

      svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 32px;
      }
    }
  }
}
