.page-footer {
  background-image: linear-gradient(
    178deg,
    transparent 12.5%,
    var(--champagne-pink) 12.5%
  );
  color: var(--jet);
  padding: 2em 1.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875em;

  .left {
    .logo {
      color: inherit;
      text-decoration: none;
      display: flex;
      flex-flow: column nowrap;
      letter-spacing: 1px;
      position: relative;

      span {
        line-height: 1;

        &:first-child {
          font-weight: bolder;
        }

        &:not(:first-child, :last-child) {
          margin: -0.15em 0 -0.15em;
        }
      }

      &::before {
        content: 'PRO';
        position: absolute;
        font-family: cursive;
        font-size: 0.625em;
        font-weight: lighter;
        line-height: 1em;
        top: 35%;
        left: 8ch;
        transform: translateY(-35%) rotate(-45deg);
      }
    }

    .tagline {
      font-size: 0.875em;
      font-weight: bolder;
    }
  }

  .right {
    list-style-type: none;
    font-weight: bolder;

    li {
      a {
        color: inherit;
        text-transform: capitalize;
      }

      &:last-child {
        a {
          text-transform: uppercase;
        }
      }
    }
  }
}
