:root {
  --licorice: hsla(14, 52%, 5%, 1);
  --raw-umber: hsla(21, 44%, 39%, 1);
  --champagne-pink: hsla(27, 36%, 83%, 1);
  --black: hsla(0, 25%, 2%, 1);
  --jet: hsla(40, 6%, 18%, 1);

  font-family: 'Maven Pro', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--champagne-pink);
  background-color: var(--jet);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid limegreen; */
}

body {
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
  max-width: 1920px;
  margin: 0 auto;
}
